li a {
    color:black;
}
a {
    text-decoration: none;
}
h1 {
    border-bottom:5px aqua dotted;
    text-align: center;
    padding-bottom: 50px;
    background-color:red;
}
ol{
    border-right:5px  brown solid;
    width:200px;
    background-color: lightgray;
}
body  {
    background-color: skyblue;
}
#container {
    display:grid;
    grid-template-columns: 300px 1fr;
}